body{
    background-color: rgb(207, 215, 212);
}

#main-section{
    border: 1px solid gray;
    width: 380px;
    height: 330px;
    border-radius: 10px;
    background-color:rgb(241, 239, 239);
    margin: 100px auto;
    font-family:"Roboto", sans-serif ;
    padding: 5px;
}
#headline-dis{
    color: cadetblue;
    text-align: center;
    

}

#enter{
    color: cadetblue;
}

#bill{
    color: cadetblue;
}

#in{
    border-radius: 10px;
    width: 370px;
    color: cadetblue;
   
}

#disc{
    color: cadetblue;
}
#out{
    width: 370px;
    color: cadetblue;
}
#cal{
    background-color: #4caf50;
    width: 380px;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
    text-align: center;
}
#tot{
    color: cadetblue;
}